.rate {
  display: flex;
}

.rate > p {
  margin-top: 0;
}

.cover {
  border-radius: 10px;
}

.rating-star {
  color: rgb(230, 50, 50);
}

.rating {
  color: grey
}

.cost {
  font-weight: 700;
}

.card-container {
  display: flex;
}

.card {
  padding-right: 15px;
}