.rate {
  display: flex;
}

.rate > p {
  margin-top: 0;
}

.fa-fire {
  color: red;
  position: absolute;
  top: 10px;
  left: 10px;
}

.img-container {
  position: relative;
}

.cover {
  border-radius: 10px;
  width: 100%;
}

.rating-star {
  color: rgb(230, 50, 50);
}

.rating {
  color: grey
}

.rating-favourite {
  color: rgb(255, 149, 0);
  position: absolute;
  top: 0;
  right: 0.2rem;
  zoom: 1.5;
}

.cost {
  font-weight: 700;
}

.card-container {
  display: flex;
}

.card {
  padding-right: 15px;
  position: relative;
}

.badge-text {
  position: absolute;
  top: 10px;
  right: 30px;
  background-color: aliceblue;
  padding: 2px;
  font-weight: bold;
}