.main-container {
  padding-left: 20px;
  height: 100vh;
  color: rgb(0, 0, 0);
}

.react-background-logo {
  position: absolute;
  opacity: 0.3;
  left: 50vw;
  top: 10rem;
  z-index: -1;
}

.main-title {
  margin-top: 0;
  padding-top: 2rem;
} 

.fact-list {
  color: black;
  z-index: 7;
}

.fact-list > li {
  margin-bottom: 9px;
}

.fact-list > li::marker {
  color: rgb(0, 142, 142);
  font-size: 1.4rem;
}