.main-container {
  padding-left: 2rem;
  height: 100vh;
  color: rgb(0, 0, 0);
}

.react-background-logo {
  position: absolute;
  opacity: 0.3;
  left: 50vw;
  top: 10rem;
  z-index: -1;
}

.main-title {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.fact-list > li {
  margin-bottom: 1rem;
  font-size: large;
}

.fact-list > li::marker {
  color: rgb(0, 142, 142);
  font-size: 1.4rem;
}