.main-container {
  padding-left: 20px;
  color: white;
  background-color: black;
  opacity: 0.5;
  height: 100%;
}

.main-container::after {
  content: "";
  background: url('../images/react.png');
  background-size: 400px;
  background-color: black;
  background-repeat: no-repeat;
  background-position-x: 325px;
  background-position-y: 30px;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.main-title {
  margin-top: 0;
  padding-top: 2rem;
} 

.fact-list > li {
  margin-bottom: 9px;
}

.fact-list > li::marker {
  color: aqua;
  font-size: 1.4rem;
}