.no-notes {
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.mde--sidebar-note {
  display: block;
  color: black;
  padding: 0.8rem;
  text-decoration: none;
}

.notes-empty {
  display: none;
}

.mde--sidebar-note.active {
  background-color: #04AA6D;
  color: white;
}

.mde--sidebar-note:hover:not(.active) {
  background-color: #555;
  color: white;
}

.add-note {
  display: flex;
  align-items: center;
}

.add-icon {
  margin-left: 1rem;
}

.add-icon.large {
  margin-left: 1rem;
  border-radius: 1rem;
  height: 3rem;
  width: 3rem;
}

.mde--sidebar-title {
  margin-left: 0.5rem;
}